@media only screen and (max-width: 2000px) {
  body {
    font-size: 23px;
  }
  /* .hero-img-wrap img {
    height: 510px;
  } */
  .hero-text-box {
    margin: 120px auto;
  }
}
@media only screen and (max-width: 1500px) {
  body {
    font-size: 20px;
  }
  /* .hero-img-wrap img {
    height: auto !important;
  } */
  .hero-text-box {
    margin: 20px auto;
  }
}

/*big tablet: to 1200px (width smaller that the 1140px row) */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }
  .section-information-data-row {
    padding: 4px !important;
  }
}

/*small tablet to big tablet: from 768 - 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 16px;
  }
  .hero-text h1 {
    line-height: 1.5;
  }
  .break {
    display: none;
  }
  section {
    padding: 60px 0;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }

  .steps-box {
    margin-top: 10px;
  }
  .steps-box:last-child {
    margin-top: 10px;
  }
  .works-step {
    margin-bottom: 40px;
  }
  .works-step:last-of-type {
    margin-bottom: 60px;
  }

  .icon-small {
    width: 17px;
    margin-right: 5px;
  }

  .city-feature {
    font-size: 90%;
  }

  .plan-box {
    width: 100%;
    margin-left: 0%;
  }

  .plan-price {
    font-size: 250%;
  }
  .contact-form {
    width: 80%;
  }
}

/* small phones to small tablet: from 481 - 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  section {
    padding: 30px 0;
  }

  .row,
  .hero-text-box {
    padding: 2% 4%;
  }

  .hero-text-box {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .sub-title {
    margin-bottom: 10px;
  }
  .hero-text-box img {
    margin-top: 20px;
  }

  .col {
    width: 100%;
    margin: 0% 0 4% 0%;
  }

  .main-nav {
    display: none;
  }
  .mobile-nav-icon {
    display: inline-block;
    margin-top: 16px;
  }

  .main-nav {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }

  .sticky .main-nav {
    margin-top: 10px;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0;
  }
  .sticky .mobile-nav-icon {
    margin-top: 10px;
  }
  .sticky .mobile-nav-icon i {
    color: #555;
  }

  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }
  .long-copy {
    width: 100%;
    margin-left: 0;
  }

  .works-step {
    margin-bottom: 20px;
  }
  .works-step:last-of-type {
    margin-bottom: 20px;
  }
  .app-screen {
    width: 40%;
    margin: 0 auto;
    display: block;
  }
  .step-box:first-child {
    text-align: center;
  }
  .work-step div {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    padding: 4px;
    font-size: 120%;
  }
  .feature-body {
    margin-top: 5px;
  }
  .feature-body p {
    text-align: center;
  }
  .icon-count {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .social-links {
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .footer-row {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* small phones: from 0 - 480px */
@media only screen and (max-width: 480px) {
  .hero-text {
    margin-top: 25px;
  }
  .hero-text h1 {
    font-weight: 600;
    font-size: 33px;
    line-height: 42px;
    color: #1b1b1b;
  }
  .hero-text-box {
    margin-top: 15px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);

    background-image: url(/landingIMG/pinkCruve.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin-left: 0px;
    padding-bottom: 80px;
    margin-top: 0;
  }
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block;
  }

  .sub-title {
    font-family: SF UI Text;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #1b1b1b;
  }
  .hero-text-box img {
    /* height: 126px; */
    width: 218px;
    margin: 0 auto;
    margin: 60px auto;
    display: block;
    line-height: 1.2;
  }
  section {
    padding: 25px 0;
  }
  header {
    height: fit-content;
  }

  .hero-img-wrap {
    margin-top: -60px;
    margin-bottom: -30px;
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
  .mobile-nav-icon {
    display: none;
  }
  .mobile-nav-view {
    display: block;
    background: rgba(242, 108, 57, 0.1);
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
  }
  .mobile-nav-view a {
    color: #555555;
    text-decoration: none;
  }
  .section-information-data {
    padding-top: 0px;
    width: 95%;
    margin: 0 auto;
  }
  .information-data-container {
    text-align: center;
    padding: 15px;
    flex-wrap: wrap; /* added flex-wrap */
  }

  .information-data-container li:not(:last-child) {
    border-right: none;
    padding-right: 0px;
    margin-bottom: 15px;
  }
  .information-item {
    box-sizing: border-box;
    width: 100%;
  }
  .information-item:nth-child(2) {
    width: calc(50% - 24px);
  }
  .section-features {
    background-image: linear-gradient(
      0deg,
      rgba(255, 229, 210, 0.4) 0.71%,
      rgba(255, 244, 229, 0.001) 9.12%
    );
  }

  .feature-body p {
    margin-top: 20px;
  }
  .feature-btn {
    padding-top: 0;
  }
  .information-item:nth-child(3) {
    width: calc(50% - 24px);
  }
  .information-item:nth-child(4) {
    width: calc(50% - 24px);
  }
  .information-item:nth-child(5) {
    width: calc(50% - 24px);
  }
  .text-center {
    margin-bottom: 20px;
  }

  .feature-row {
    flex-direction: column;
    width: 100%;
  }
  .img-wrapper {
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .graph-wrapper {
    width: 100%;
    margin-left: 0;
    text-align: left;
  }
  .feature__title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .graph-wrapper p {
    text-align: left;
    margin-top: 0;
  }
  .wrapper-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .feature__title__pl-50 {
    padding-left: 0;
    padding-right: 50px;
    align-self: start;
  }

  .what-ain-container,
  .why-ain-container {
    display: none;
  }
  .section-what {
    background-image: linear-gradient(
      0deg,
      rgba(255, 229, 210, 0.4) 0.71%,
      rgba(255, 244, 229, 0.001) 9.12%
    );
  }
  .what-ain-container-mobile,
  .why-ain-container-mobile {
    display: flex;
    flex-direction: column;
  }
  .what-ain-mobile__wrapper,
  .why-ain-mobile__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }
  .what-ain-mobile__wrapper img,
  .why-ain-mobile__wrapper img {
    width: 120px;
    margin: 0 auto 15px;
  }

  .partner-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .partner-img {
    width: 130px;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
